@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=News+Cycle:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.cardo-regular {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: normal;
}

.cardo-bold {
  font-family: "Cardo", serif;
  font-weight: 700;
  font-style: normal;
}

.cardo-regular-italic {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: italic;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.body {
  list-style: circle;
}

@keyframes colorChange {
  0% {
    color: #000000;
  }
  50% {
    color: #f93c75;
  }
  100% {
    color: #000000;
  }
}

@keyframes underlineChange {
  0% {
    text-decoration-color: #000000;
  }
  50% {
    text-decoration-color: #f93c75;
  }
  100% {
    text-decoration-color: #000000;
  }
}

.animated-text {
  animation: colorChange 3s infinite alternate,
    underlineChange 3s infinite alternate;
}

@keyframes colorChangeButton {
  0% {
    color: #f97099;
  }
  50% {
    color: #ffffff;
  }
  100% {
    color: #f97099;
  }
}

@keyframes bgColorChange {
  0% {
    background-color: #4b4b4b;
  }
  50% {
    background-color: #5e2336;
  }
  100% {
    background-color: #4b4b4b;
  }
}

.animated-button {
  animation: colorChangeButton 3s infinite alternate,
  bgColorChange 3s infinite alternate;
}

.body-gradient {
  background-image: linear-gradient(
    90deg,
    hsl(0deg 0% 100%) 0%,
    hsl(338deg 100% 100%) 60%,
    hsl(338deg 100% 100%) 81%,
    hsl(338deg 100% 99%) 89%,
    hsl(338deg 100% 99%) 93%,
    hsl(338deg 100% 99%) 95%,
    hsl(338deg 100% 99%) 97%,
    hsl(338deg 100% 99%) 98%,
    hsl(338deg 100% 99%) 99%,
    hsl(338deg 100% 98%) 100%
  );
}

.rotated-text {
  display: inline-block; 
  transform: rotate(90deg);  
}
