---
const { url, articleName, articleHeadline, pubDate } = Astro.props;
---

<div
  class="w-full md:w-[70%] flex flex-col justify-center items-center pt-4 pb-8 gap-4 hover:bg-gradient-to-r from-[65%] from-stone-100 via-orange-100 hover:text-orange-400 border-x-2 border-rose-300 hover:border-orange-100 hover:shadow-md hover:shadow-orange-100 rounded-2xl transition-all ease-in-out duration-500"
>
  <img src="" alt="" />
  <h2 class="cardo-regular text-2xl text-rose-400">{articleName}</h2>
  <h3 class="playfair-display text-2xl">{articleHeadline}</h3>
   <h4 class="playfair-display text-xl">{pubDate}</h4> 
  <div class="w-full flex justify-end mt-8 mr-14">
    <a
      href={url}
      class="animated-text cardo-regular-italic text-2xl cursor-pointer hover:text-stone-600 border-2 py-2 px-4 rounded-md"
      >View
    </a>
  </div>
</div>
