---
const today = new Date();
---

<footer>
  <div
    class="w-full flex flex-col justify-center items-center pt-4 pb-14 px-4 gap-8"
  >
    <h2 class="playfair-display text-[1.4rem] text-gray-700">
      &copy; {today.getFullYear()} ANAPHORA. All rights reserved.
    </h2>
    <a
      href="https://edsabhin-project-gallery.netlify.app/"
      target="_blank"
      class="cardo-regular text-xl cursor-pointer hover:text-rose-400 hover:underline underline-offset-8 decoration-1 transition ease-in-out duration-300"
    >
      Ed Sabhin Project Gallery
    </a>
    <a
      href="https://github.com/EdSabhin"
      target="_blank"
      class="cardo-regular text-xl cursor-pointer hover:text-rose-400 hover:underline underline-offset-8 decoration-1 transition ease-in-out duration-300"
    >
      GitHub
    </a>
    <a
      href="https://edsabhin-project-gallery.netlify.app/cv"
      target="_blank"
      class="cardo-regular text-xl cursor-pointer hover:text-rose-400 hover:underline underline-offset-8 decoration-1 transition ease-in-out duration-300"
    >
      CV
    </a>
  </div>
</footer>
