---
const words = ["Decentralization", "AI", "Memetics", "Art", "Music"];
let currentIndex = 0;

function changeWord() {
  currentIndex = (currentIndex + 1) % words.length;
}
---

<div class="flex items-center gap-10 mb-28">
  <span id="word" class="cardo-regular text-3xl">{words[currentIndex]}</span>
  <button
    onclick="changeWord()"
    class="w-full playfair-display text-3xl pt-6 pb-8 pr-5 pl-5 shadow-md shadow-stone-300 border-t-4 rounded-tl-xl rounded-br-full transition-all ease-in-out duration-100 animated-button"
    ><span class="rotated-text">Λ</span></button
  >
</div>
